/*config web */
/*@font-face{
 src:url('../font/UTM AvoBold.ttf');
 font-family: 'fontweb';

}*/

body {
	background-image: url(../img/bg.png);
	height: auto;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.top{
	padding-top: 111px;
	width: 100%;
}
.top >.left{
	width: 36%;
	padding-left: 90px;
	float: left;
	padding-top: 86px;
}

.top >.right {
	width: 49%;
	float: left;
	padding-left: 75px;
}

.top >.right > img {
	width: 68%;
    padding-left: 86px;
}
h1{
	color: #ffffff;
    font-size: 37px;
}
h2 {
	color: #f2d63e;
    font-size: 35px;
    line-height: 1.5cm
}
h3 {
	color: #ffffff;
	letter-spacing: 1.2px;
	font-size: 19px;
}
.top >.left > .time >h4 {
	color: #fff;
	font-size: 18px;
	width: 40%;
	float: left;
}

.btn-1 {
border-radius: 10px;
padding: 6px 18px;
margin-top: 14px;
background-color: #6f2c8c;
color: #fff;
font-size: 18px;

}

.nd {
	margin-top: 128px;
}
.nd >ul >li {
	list-style-type: none;
	float: left;
	margin-right: 67px;
	margin-left: 40px;
}
.menu {
	padding: 0 50px 0 62px;}
.menu1 {
	width: 24%;
	height: 270px;
	text-align: center;
	border: 2px #6f2c8c solid;
	border-radius: 9px;
    padding-top: 24px;
    
}

.menu1 >h4 {
	font-size: 29px;
}    
.menu1 >h5 {
	font-size: 17px;
    line-height: 2;
}
.menu1 >img {
	margin-top: -86px;
    width: 34%;
}
.bottom {
	background-color: #010611;
	position: absolute;
	
	padding-top: 86px;
	height: 498px;
}

.bottom > .left {
	width: 43%;
	padding-left: 90px;
	float: left;
	
}
.bottom > .left > .img-diachi >img {
	width: 28%;
    float: left;

}

.bottom > .left > .img-diachi >ul {
	margin-left: 172px;
	list-style-type: none;
	line-height: 12px;
	font-size: 17px;
}

.bottom > .left > .img-diachi >ul >li >a{
    text-decoration: none;
    color: #fff;
}
.bottom > .left > .img-diachi >ul >li >a:hover {
	border-bottom: 1px solid #fff;
}

.bottom > .left > .dv-donghanh{
	margin-top: 125px;
}
.bottom > .left > .dv-donghanh >h3{
	font-size: 25px;
}

.bottom > .left > .dv-donghanh > img{
	float: left;
	
	padding-right: 4px;
	padding-left: 22px;
}



.bottom > .right {
	width: 45%;
    float: left;
    padding-left: 42px;
}

.bottom > .right >h2{
	font-size: 26px;
	color: #fff;
	line-height: 0;
}
p{font-size: 18px;}

.right > .row > .tbx-1 {
	float: left;
	margin-right: 24px;
}
input{
	background-color: #010611;
	color: #f9ebeb;
	border-radius: 4px;
	font-size: 14px;
}
.right > .row > .tbx-1 >input {
	padding: 8px 53px 9px 14px;
	display: block;
	width: 100%;
	font-size: 14px;
	line-height: 1.42857143;
	color: #f9ebeb;
	background-color: #010611;
	background-image: none;
	border-radius: 4px;
}

.right > .row > .tbx-2 >input {
	padding: 9px;
	margin-left: 78px;
}

.right > .row > .tbx-3 >input {
	padding: 9px 356px 9px 14px;
}
.right > .row {
	margin-bottom: 20px;
}
.btn-gui {
        display: block;
	    width: 18%;
	    height: 40px;
	    color: #fff;
	    font-family: Roboto;
	    font-weight: 600;
	    background: red;
	    border-radius: 3px;
	    margin-left: 447px;
	    font-size: 16px;
}

i{
	font-size: 23px;
	margin-left: 64px;
	margin-top: 16px;
	color: #f00;
	position: absolute;
}

